*{
    padding: 0px;
    margin: 0px;
    background-color: beige;
}

#fotoPerfil{
    margin: auto;
    margin-left: 100px;
}

#infoPersonal{
    margin: auto;
    float: left;
    width: 33%;
}

#certificados{
    width: 300px;
    height: 200px;
    display: flex;
}

.cert{
    width: 150px;
    height: 150px;
}

#infoAcademica{
    margin: auto;
    margin-left: 200px;
    margin: 0px;
    float: right;
}

div{
    border-style: solid;
}