#hoja{
    background-color: rgb(189, 203, 218);
    display: flex;
}

#fotoPerfil{
    text-align: center;
    width: 33%;
    margin: auto;
    margin-left: 35%;
    margin-right: 50%;
    clip-path: circle(42%);
}

#infoPersonal{
    width: 100%;
    background-color: blue;
    padding: 0px;
}

.c1{
    background-color: blue;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    width: 33%;
}

#certificados{
    margin-top: 5%;
    display: flex  ;
}

.cert{
    width: 50%;
    height: 50%;
}

#c2{
    width: 33%;
    background-color: blue;
    text-align: center ;
    margin-top: 1.5%;
    border: 5px solid black;
}

#infoAcademica{
    margin-top: 25%;
}

#c3{
    width: 33%;
    text-align: center;
    margin-top: 1.5%;
    margin-left: 1%;
    background-color: blue;
    border: 5px solid black;
    background-image: url(/DIA2/img/139265002.png);

}

#ELUXE{
    background-color: blue;
    margin: auto;
    margin-top: 30%;
}

pre{
    text-align: center;
}

.referencias{
    background-color: rgb(22, 22, 70);
    padding: 0;
}

*{
    padding: 0px;
    font-family: oswald;
    color: black;
}

a{
    color: black;
}

h3, h4{
    background-color: rgb(220, 241, 99);
}   

p{
    padding: 0%;
    color: white;
}

.fechas{
    background-color: yellow;
    color: black;
}