/*
color: color -> Cambia el color del texto;
background-color: color -> Cambia el color del fondo del texto;
border: #px solid color -> Agrega un borde, px para el tamaño;
opacity: 0-1 -> Cambia la opacidad, siendo 1 el valor más alto;
background-image : url(/imagen) -> Agrega una imagen de fondo al elemento.
background-repeat: (no-repeat)repeat -x -> La imagen solo se repetirá horizontalmente (eje x).
background-position: 


*/