*{
    padding: 0px;
    margin: 0px;
}

img{
    width: 120px;
    height: 120px;
    text-align: center;
}

div{
    border-style: solid;
    width: auto;
    height: auto;
}

#fotoPerfil{
    float: left;
    clip-path: circle();
}

.c1{
    float: left;
    width: 33%;   
}

#c2{
    color: blueviolet;
    width: 33%;
    align-content: center;
}

#c3{
    float: right;
    width: 33%;
    float: inline-end;
    margin: 0px;
    margin-top: 0px;
}

#hoja{
    width:90%;
    height: 100%;
}

.info{
    height: 100%;
}