@font-face {
    font-family: 'Open Sans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

#fondo{
    width: 1400px;
    height: 800px;
    /* Fondo Temporal */
    background-color: white;
    margin: 200px 100px;
}

.barra-lateral{
    width: 110px;
    height: 800px;
    background-color: black;
    float: right;
    float: inline-end ;
    z-index: 0;
    top: 0;
}

#degradado{
    background-image: linear-gradient(white, rgba(0, 0, 0, 0.291));
    height: 1000px;

}

.text{
    font-family: 'Open Sans-Regular ';
}

div.barra-superior{
    width: 1400px;
    height: 87px;
    background-color: white;
    border-color: black;
    display: flex;
    top: 0px;
    z-index: 10;
}

img.barra-superior{
    width: 196px;
    height: 44px;
    text-align: center;
    margin: 43px 43px;
}

#logo{
    width: 50%;
    height: 80px;
}

div.botones{
    width: 50%;
    display: flex;
    height: 87px; 
}

button.botones{
    border-color: rgb(256, 250, 250, 0);
    background-color: rgb(256, 256, 256, 0);
    margin: 40px 0px;
    padding: 0px 15px;
}

button.botones:hover{
    border-color: rgb(256, 250, 250, 0.2);
    border-color: rgb(256, 250, 250, 0) rgb(256, 250, 250, 0) rgb(0, 0, 0, 1)rgb(256, 250, 250, 0) ;
    border-radius: 10px;
    background-color: rgb(256, 256, 256, 0);
}

button.hiperbotones{
    margin-top: 43px;
    margin-left: 10px;
    padding: 0px 15px;
    border-color: rgb(256, 256, 256, 0);
    background-color: rgb(256, 256, 256, 0);
}

button.hiperbotones:hover{
    border-color: rgb(250, 250, 250, 0.2);
}

#metrocarta{
    margin-left: 10%
}

.parte-baja{
    display: flex;
    background-color: rgb(134, 134, 134);
}

.cuadro-metrolinea{
    border: 5px solid rgb(150, 244, 36);
    border-radius: 10px;
    width: 10%;
    background-color: (150, 244, 36);
    height: 10%;
    margin-top: 5%; 
    margin-left: 40%;
    text-align: center;
}

#logometrocuadro{
    margin-top: 15%;
}

