#background{
    background-color: black ;
    background-image: url(../img/FondoTwitch@2x.png);
    background-repeat: no-repeat;
}

.dpr{
    width: 100%;
    background-color: aliceblue;
    height: 100%;
}