@font-face {
    font-family: 'Amazon Embered';
    src: url(/DIA5/fonts/AmazonEmber_Lt.ttf);
    font-weight: normal;
    font-size: 300px; 
}

body{
    background-color: black;
}

#fondo {
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background: black url('../img/FondoTwitch.png') 0% 0% no-repeat padding-box;
    opacity: 0.99;
    z-index: 10;
}

#topbar {
    display: flex;
    background-color: none;
}

div.search {
    width: 90%;
    height: 100%;
    z-index: 10;
}

button.search{
    background-color: rgb(266, 256, 256, 0);
    border-color: rgb(266, 256, 256, 0);
}

button.search:hover{
    background-color: rgb(266, 256, 256, 0.3);
    border-color: rgb(266, 256, 256, 0);
}



div.login {
    width: 5%;
    float: inline-end;
    float: right;
    height: 100%;
}

button.login {
    width: 205px;
    height: 54px;
    border-radius: 100px;
    font-family: 'Amazon Embered';
    font-size: 25px;
    text-align: center; 
}

button.login:hover{
    background-color: rgb(214, 209, 209);
}

#logo {
    display: block;
    text-align: center;
    margin-top: 10%;
}

#title1{
    font-family: 'Amazon Embered';
    color: white;
    font-size: 60px;
}

#p1{
    font-family: 'Amazon Embered';
    color: white;
    font-size: 30px;
    justify-content: center;
}

#text1 {
    text-align: center;
    width: 60%;
    margin: auto;
}

div.signup {
    margin-top: 120px;
    text-align: center;
    height: 360px;
}

button.signup {
    border-radius: 150px;
    width: 400px;
    height: 100px;
    font-family: 'Amazon Embered';
    font-size: 30px;
}

button.signup:hover {
    background-color: gray;
    font-size: large;
    font-size: 35px;
}

.container {
    text-align: center;
    background-color: rgb(5, 160, 209);
    display: block;
    width: 100%;
    height: 35%;
    margin: 1% 1.5%;
    border-radius: 50px;
    font-family: 'Amazon Embered';
    color: white;
}

.title-cont{
    font-size: 50px;
}

.p-cont{
    font-size: 30px;
    color: white;
}


div.container2{
    text-align: center;
    background-color: rgb(5, 160, 209);
    display: block;
    width: 100%;
    height: 45%;
    margin: 1% 1.5%;
    border-radius: 50px;
    font-family: 'Amazon Embered';
    color: white;
}

img.container{
    width: 10%;
    height: 15%;
}

div.devices{
    text-align: center;
}

h1.devices{
    font-family: 'Amazon Embered';
    color: white;
    font-size: 120px;
}

p.devices{
    font-family: 'Amazon Embered';
    color: white;
    font-size: 45px;
}

img.devices{
    width: 271px;
    height: 238px;
    opacity: 0.5;
}

img.devices:hover{
    opacity: 1;
    border-radius: 1px;
}

#mac{
    width: 564px;
    height: 500px;
    opacity: 0.5;
}

#mac:hover{
    opacity: 1;
}


#politicas{
    text-align: center;
    margin-top: 100px;
}

.etc{
    font-family: 'Amazon Embered';
    color: white;
    margin: auto 15px;
    font-size: 25px;
}

a{
    text-decoration: none;
}